
<div class="page-header-yelp">
<%= link_to "  Go Back", restaurants_path , class: "fa fa-long-arrow-left"%>
<br><br>
<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.category %> Restaurant</p>
<p>Call: <%= @restaurant.phone_number %></p>
<p><%= @restaurant.address %></p>
<% @restaurant.average_rating.times do |x| %>
    <div class="fa fa-star"></div>
  <% end %>
<br>
</div>

<h3>Reviews</h3>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<% @restaurant.reviews.all.each do |review| %>
  <div class="review-box">
    <% review.rating.times do |x| %>
    <div class="fa fa-star"></div>
  <% end %>
    <p><%= review.content %></p>
  </div>
<% end %>
